In [9]:
import numpy as np
import pandas as pd

In [2]:
# import plotly libraries

In [3]:
import plotly.express as px


import plotly.io as pio
pio.renderers.default = "browser"

In [10]:
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

In [7]:
df["date"] = pd.to_datetime(df["date"])

NameError: name 'pd' is not defined

In [6]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [7]:
dicti = {'label':df["iso_code"].unique(),'value':df["location"].unique()}

In [23]:
x=[]
z=[]
for i in df['iso_code'].unique():
    x.append(i)
    for y in df["location"].unique():
        z.append(y)
    print('label',':',x,'value',':',z)

In [24]:
x

['AFG',
 'OWID_AFR',
 'ALB',
 'DZA',
 'AND',
 'AGO',
 'AIA',
 'ATG',
 'ARG',
 'ARM',
 'ABW',
 'OWID_ASI',
 'AUS',
 'AUT',
 'AZE',
 'BHS',
 'BHR',
 'BGD',
 'BRB',
 'BLR',
 'BEL',
 'BLZ',
 'BEN',
 'BMU',
 'BTN',
 'BOL',
 'BES',
 'BIH',
 'BWA',
 'BRA',
 'VGB',
 'BRN',
 'BGR',
 'BFA',
 'BDI',
 'KHM',
 'CMR',
 'CAN',
 'CPV',
 'CYM',
 'CAF',
 'TCD',
 'CHL',
 'CHN',
 'COL',
 'COM',
 'COG',
 'COK',
 'CRI',
 'CIV',
 'HRV',
 'CUB',
 'CUW',
 'CYP',
 'CZE',
 'COD',
 'DNK',
 'DJI',
 'DMA',
 'DOM',
 'ECU',
 'EGY',
 'SLV',
 'GNQ',
 'ERI',
 'EST',
 'SWZ',
 'ETH',
 'OWID_EUR',
 'OWID_EUN',
 'FRO',
 'FLK',
 'FJI',
 'FIN',
 'FRA',
 'PYF',
 'GAB',
 'GMB',
 'GEO',
 'DEU',
 'GHA',
 'GIB',
 'GRC',
 'GRL',
 'GRD',
 'GTM',
 'GGY',
 'GIN',
 'GNB',
 'GUY',
 'HTI',
 'OWID_HIC',
 'HND',
 'HKG',
 'HUN',
 'ISL',
 'IND',
 'IDN',
 'OWID_INT',
 'IRN',
 'IRQ',
 'IRL',
 'IMN',
 'ISR',
 'ITA',
 'JAM',
 'JPN',
 'JEY',
 'JOR',
 'KAZ',
 'KEN',
 'KIR',
 'OWID_KOS',
 'KWT',
 'KGZ',
 'LAO',
 'LVA',
 'LBN',
 'LSO',
 'LBR',
 'LBY',
 'LIE',
 'LTU',
 'OWID_LIC',
 'OWID_LMC',
 'LUX',
 'MAC',
 'MDG',
 'MWI',
 'MYS',
 'MDV',
 'MLI',
 'MLT',
 'MHL',
 'MRT',
 'MUS',
 'MEX',
 'FSM',
 'MDA',
 'MCO',
 'MNG',
 'MNE',
 'MSR',
 'MAR',
 'MOZ',
 'MMR',
 'NAM',
 'NRU',
 'NPL',
 'NLD',
 'NCL',
 'NZL',
 'NIC',
 'NER',
 'NGA',
 'NIU',
 'OWID_NAM',
 'MKD',
 'OWID_CYN',
 'NOR',
 'OWID_OCE',
 'OMN',
 'PAK',
 'PLW',
 'PSE',
 'PAN',
 'PNG',
 'PRY',
 'PER',
 'PHL',
 'PCN',
 'POL',
 'PRT',
 'QAT',
 'ROU',
 'RUS',
 'RWA',
 'SHN',
 'KNA',
 'LCA',
 'SPM',
 'VCT',
 'WSM',
 'SMR',
 'STP',
 'SAU',
 'SEN',
 'SRB',
 'SYC',
 'SLE',
 'SGP',
 'SXM',
 'SVK',
 'SVN',
 'SLB',
 'SOM',
 'ZAF',
 'OWID_SAM',
 'KOR',
 'SSD',
 'ESP',
 'LKA',
 'SDN',
 'SUR',
 'SWE',
 'CHE',
 'SYR',
 'TWN',
 'TJK',
 'TZA',
 'THA',
 'TLS',
 'TGO',
 'TKL',
 'TON',
 'TTO',
 'TUN',
 'TUR',
 'TKM',
 'TCA',
 'TUV',
 'UGA',
 'UKR',
 'ARE',
 'GBR',
 'USA',
 'OWID_UMC',
 'URY',
 'UZB',
 'VUT',
 'VAT',
 'VEN',
 'VNM',
 'WLF',
 'OWID_WRL',
 'YEM',
 'ZMB',
 'ZWE']

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156086 entries, 0 to 156085
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    156086 non-null  object
 1   continent                                   146702 non-null  object
 2   location                                    156086 non-null  object
 3   date                                        156086 non-null  datetime64[ns]
 4   total_cases                                 153258 non-null  float64
 5   new_cases                                   153211 non-null  float64
 6   new_cases_smoothed                          152060 non-null  float64
 7   total_deaths                                135859 non-null  float64
 8   new_deaths                                  136028 non-null  float64
 9   new_deaths_smoothed                         135896 non-null  float64
 10  total_cases_per_million                     152544 non-null  float64
 11  new_cases_per_million                       152497 non-null  float64
 12  new_cases_smoothed_per_million              151351 non-null  float64
 13  total_deaths_per_million                    135158 non-null  float64
 14  new_deaths_per_million                      135327 non-null  float64
 15  new_deaths_smoothed_per_million             135195 non-null  float64
 16  reproduction_rate                           117745 non-null  float64
 17  icu_patients                                21250 non-null   float64
 18  icu_patients_per_million                    21250 non-null   float64
 19  hosp_patients                               22481 non-null   float64
 20  hosp_patients_per_million                   22481 non-null   float64
 21  weekly_icu_admissions                       4337 non-null    float64
 22  weekly_icu_admissions_per_million           4337 non-null    float64
 23  weekly_hosp_admissions                      8780 non-null    float64
 24  weekly_hosp_admissions_per_million          8780 non-null    float64
 25  new_tests                                   61447 non-null   float64
 26  total_tests                                 63000 non-null   float64
 27  total_tests_per_thousand                    63000 non-null   float64
 28  new_tests_per_thousand                      61447 non-null   float64
 29  new_tests_smoothed                          76723 non-null   float64
 30  new_tests_smoothed_per_thousand             76010 non-null   float64
 31  positive_rate                               71722 non-null   float64
 32  tests_per_case                              71025 non-null   float64
 33  tests_units                                 78693 non-null   object
 34  total_vaccinations                          40786 non-null   float64
 35  people_vaccinated                           38979 non-null   float64
 36  people_fully_vaccinated                     36031 non-null   float64
 37  total_boosters                              13574 non-null   float64
 38  new_vaccinations                            33857 non-null   float64
 39  new_vaccinations_smoothed                   74760 non-null   float64
 40  total_vaccinations_per_hundred              40786 non-null   float64
 41  people_vaccinated_per_hundred               38979 non-null   float64
 42  people_fully_vaccinated_per_hundred         36031 non-null   float64
 43  total_boosters_per_hundred                  13574 non-null   float64
 44  new_vaccinations_smoothed_per_million       74760 non-null   float64
 45  new_people_vaccinated_smoothed              73728 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  73728 non-null   float64
 47  stringency_index                            122256 non-null  float64
 48  population                                  155055 non-null  float64
 49  population_density                          138946 non-null  float64
 50  median_age                                  129507 non-null  float64
 51  aged_65_older                               128101 non-null  float64
 52  aged_70_older                               128812 non-null  float64
 53  gdp_per_capita                              130094 non-null  float64
 54  extreme_poverty                             85751 non-null   float64
 55  cardiovasc_death_rate                       128498 non-null  float64
 56  diabetes_prevalence                         135229 non-null  float64
 57  female_smokers                              99662 non-null   float64
 58  male_smokers                                98230 non-null   float64
 59  handwashing_facilities                      64362 non-null   float64
 60  hospital_beds_per_thousand                  116220 non-null  float64
 61  life_expectancy                             145688 non-null  float64
 62  human_development_index                     127973 non-null  float64
 63  excess_mortality_cumulative_absolute        5338 non-null    float64
 64  excess_mortality_cumulative                 5338 non-null    float64
 65  excess_mortality                            5338 non-null    float64
 66  excess_mortality_cumulative_per_million     5338 non-null    float64
dtypes: datetime64[ns](1), float64(62), object(4)
memory usage: 79.8+ MB

In [8]:
def get_country_data(data, country='IND'):
    df = data[data["iso_code"] == country]
    return df

In [9]:
# total death confirmed by country


def get_total_death(data, country='IND'):
    data[data["iso_code"] == country]
    total = int(data.total_deaths.iloc[-2])
    return total

In [10]:
# total cases by country

def get_total_cases(data, country="IND"):
    data[data["iso_code"] == country]
    cases = int(data.total_cases.iloc[-2])
    return cases

In [11]:
# total new cases by country

def get_total_newcase(data, country='IND'):
    data[data["iso_code"] == country]
    recovered = int(data.new_cases.iloc[-1])
    return recovered

In [12]:
get_total_newcase(df, "IND")

665

In [61]:
# get data in cleaned time series format for country

def process_data(data, country="IND", window=3):
    con = data[data["iso_code"] == country]
    p_d = pd.DataFrame(con[["date", "total_cases"]])
    return p_d

In [81]:
cc = process_data(df, "IND", 3)

In [91]:
cc

            date  total_cases
65427 2020-01-30          1.0
65428 2020-01-31          1.0
65429 2020-02-01          1.0
65430 2020-02-02          2.0
65431 2020-02-03          3.0
...          ...          ...
66144 2022-01-16   37380253.0
66145 2022-01-17   37618271.0
66146 2022-01-18   37901241.0
66147 2022-01-19   38218773.0
66148 2022-01-20   38566027.0

[722 rows x 2 columns]

In [83]:
len(cc['date']) == len(cc["total_cases"])

True

In [61]:
# Generate Line Graph using Plotly

In [87]:
def gen_line_graph(country="IND", window=3):
    total_df = process_data(data=df, country=country, window=window)
    total_df.head(10)
    if window == 1:
        yaxis_title = "Daily Cases"
    else:
        yaxis_title = "Daily {} day".format(window)
    fig = px.line(total_df, x='date', y='total_cases', title="total case of {}".format(
        country), height=600, color_discrete_sequence=['maroon'])
    fig.update_layout(title_x=0.5, plot_bgcolor='#F2DFCE',
                      paper_bgcolor='#fff', xaxis_title="Date", yaxis_title=yaxis_title)
    return fig

In [88]:
gen_line_graph("IND", 3)

In [3]:
## get country list

def get_country_list():
    return df.location.unique()

In [11]:
get_country_list()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Macedonia', 'Northern Cyprus', 'Norway',
       'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [94]:
get_country_list(df)

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Macedonia', 'Northern Cyprus', 'Norway',
       'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

# INDIA

#### NEW CASES

In [15]:
DF_IND = data[data["location"] == "India"]

In [22]:
DF_IND_TC = int(DF_IND.total_cases.iloc[-2])
DF_IND_TC

38218773

In [28]:
DF_IND_NC = int(DF_IND.new_cases.iloc[-2])
DF_IND_NC

317532

In [61]:
# 7 days average
DF_IND_7AVG = int(DF_IND["new_cases"].tail(7).sum()/7)
DF_IND_7AVG

271549

#### DEATH

In [65]:
DF_IND_DEATH = int(DF_IND["total_deaths"].iloc[-1])
DF_IND_DEATH

487693

In [69]:
DF_IND_ND = int(DF_IND["new_deaths"].iloc[-2])
DF_IND_ND

491

In [77]:
DF_IND_ND_7AVG = int(DF_IND["new_deaths"].tail(8).iloc[:-1].sum()/7)
DF_IND_ND_7AVG

379

In [83]:
DF_IND["new_deaths"].tail(8).iloc[:-1]

date
2022-01-13     96.0
2022-01-14    621.0
2022-01-15    314.0
2022-01-16    385.0
2022-01-17    310.0
2022-01-18    441.0
2022-01-19    491.0
Name: new_deaths, dtype: float64

In [ ]:
app.layout = html.Div(

    children=[

        html.H1(children="Avocado Analytics",),

        html.P(

            children="Analyze the behavior of avocado prices"

            " and the number of avocados sold in the US"

            " between 2015 and 2018",

        ),

        dcc.Graph(

            figure={

                "data": [

                    {

                        "x": data["Date"],

                        "y": data["AveragePrice"],

                        "type": "lines",

                    },

                ],

                "layout": {"title": "Average Price of Avocados"},

            },

        ),

        dcc.Graph(

            figure={

                "data": [

                    {

                        "x": data["Date"],

                        "y": data["Total Volume"],

                        "type": "lines",

                    },

                ],

                "layout": {"title": "Avocados Sold"},

            },

        ),

    ]

)

In [ ]:
dcc.Dropdown(
        id='demo-dropdown',
        options=[
            {'label': 'New York City', 'value': 'NYC'},
            {'label': 'Montreal', 'value': 'MTL'},
            {'label': 'San Francisco', 'value': 'SF'}
        ],
        value='NYC'
    ),
    html.Div(id='dd-output-container')
])


@app.callback(
    Output('dd-output-container', 'children'),
    Input('demo-dropdown', 'value')
)
def update_output(value):
    return 'You have selected "{}"'.format(value)